[submodule "emacs.d/keats"]
	path = emacs.d/keats
	url = http://github.com/rejeep/keats.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
