[submodule "_emacs.d/keats"]
	path = _emacs.d/keats
	url = http://github.com/rejeep/keats.git
[submodule "utils/tmux-MacOSX-pasteboard"]
	path = utils/tmux-MacOSX-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
