{{- if eq .computerName "Tobis Mac mini" -}}
#!/bin/bash

echo "Installing Homebrew formulas."

if which brew &> /dev/null; then
  brew bundle --no-upgrade --verbose --file=/dev/stdin <<EOF
tap "babashka/brew"
tap "borkdude/brew"
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "jesseduffield/lazygit"
tap "tow8ie/tow8ie"

# brew "ack"
# brew "asdf"
brew "bash"
brew "bash-completion@2"
brew "bat"
brew "chezmoi"
brew "clojure"
brew "direnv"
brew "editorconfig"
brew "emacs-plus"
brew "exiftool"
brew "fd"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "git-delta"
brew "jesseduffield/lazygit/lazygit"
brew "jq"
brew "mas"
brew "media-info"
brew "mise"
brew "neovim"
brew "ranger"
# Fixes the problem that when using tmux on Mac OS X the system clipboard is
# not available by default.
# @see: https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard
# brew "reattach-to-user-namespace"
brew "ripgrep"
brew "starship"
brew "the_silver_searcher"
# brew "thefuck"
# brew "tmux"
# brew "trash"
brew "tree"
brew "uv"
brew "vim"
brew "watch"
brew "wget"
brew "yt-dlp"
brew "zplug"
brew "zsh"
brew "zsh-autosuggestions"

cask "adobe-creative-cloud"
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
# cask "alt-tab"
cask "appcleaner"
cask "betterdisplay"
cask "bettermouse"
cask "brave-browser"
cask "busycal"
cask "calibre"
cask "carbon-copy-cloner"
# cask "contexts"
cask "darktable"
cask "doppler"
cask "downie"
cask "elgato-camera-hub"
cask "ente"
cask "firefox"
cask "ghostty"
cask "hazel"
cask "istat-menus"
cask "iterm2"
cask "jordanbaird-ice"
cask "keybase"
# cask "mac-mouse-fix"
cask "mailmate@beta"
# cask "marked"
cask "meld"
cask "meta"
cask "moneymoney"
cask "monitorcontrol"
cask "opencore-patcher"
cask "qfinder-pro"
cask "raycast"
cask "rectangle"
cask "setapp"
cask "songkong"
# cask "steermouse"
cask "the-archive"
cask "the-unarchiver"
cask "threema@beta"
cask "thunderbird"
cask "ticktick"
cask "visual-studio-code"
cask "vlc"
cask "zotero"

mas "Across: Modern Calendar", id: 6444851827
mas "Outbank: Banking und Finanzen", id: 1094255754
mas "OX Drive", id: 818195014
mas "Play: Save Videos Watch Later", id: 1596506190
mas "Strongbox", id: 897283731
mas "Things", id: 904280696

# vscode "42Crunch.vscode-openapi"
# vscode "arcticicestudio.nord-visual-studio-code"
# vscode "betterthantomorrow.calva"
# vscode "betterthantomorrow.calva-spritz"
# vscode "GitHub.github-vscode-theme"
# vscode "golang.go"
# vscode "golf1052.base16-generator"
# vscode "mechatroner.rainbow-csv"
# vscode "ms-vsliveshare.vsliveshare"
# vscode "redhat.vscode-yaml"
EOF
else
  echo "Homebrew is not installed. Skipping the installation of Homebrew formulas."
fi
{{ end -}}
