# These path definitions will be _prepended_ to $PATH.
# Order dependent, most important first.

pre_path_definitions=(

  # dotfiles bins
  $HOME/.bin

  # Visual Studio Code
  "/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

  # Personal bins
  $HOME/bin

  # Homebrew bins
  /usr/local/bin

  # Homebrew bins
  /usr/local/sbin
{{ if eq .computerName "Tobis Mac mini" }}
  # Bundler binstubs
  bin

  # Postgres.app bins
  /Applications/Postgres.app/Contents/Versions/9.3/bin

  # Rust bins
  $HOME/.cargo/bin
{{ end }}
)

# These path definitions will be _appended_ to $PATH.
# Order dependent, most important first.

post_path_definitions=(
{{ if eq .computerName "Tobis Mac mini" }}
  # npm local bins
  ./node_modules/.bin
{{ else if eq .computerName "S0184534" }}
  # Unversioned symlinks for Python installed by Homebrew
  /usr/local/opt/python/libexec/bin/

  # pipx
  $HOME/.local/bin
{{ end }}
)

