# ------ #
# Editor #
# ------ #

export EDITOR="vim"
# This is to make tmux correctly show the solarized vim theme
# which otherwise shows the right colors only behing text
export TERM="screen-256color"

# ---------------- #
# Path definitions #
# ---------------- #

export RBENV_BIN_PATH="$HOME/.rbenv/bin"
export MACPORTS_PATH="/opt/local/bin"
export NODE_PATH="/usr/local/lib/node_modules"
export NPM_BIN_PATH="/usr/local/share/npm/bin"
export DART_BIN_PATH="$HOME/dart/dart-sdk/bin"

export DOTFILES_BIN_PATH="$HOME/.bin"
export PERSONAL_BIN_PATH="$HOME/bin"
export HOMEBREW_BIN_PATH="/usr/local/bin"

export PATH="$DOTFILES_BIN_PATH:$PERSONAL_BIN_PATH:$RBENV_BIN_PATH:$NPM_BIN_PATH:$HOMEBREW_BIN_PATH:$MACPORTS_PATH:$DART_BIN_PATH:$PATH"

