"*":
  "Remote-FTP":
    connector:
      autoUploadOnSave: "never"
  core:
    telemetryConsent: "no"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "91d8fb03-d569-ae2c-199e-65cf5ffecf26"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
