# ==========
# = Editor =
# ==========

export EDITOR='mvim'
# Textmate needs this: http://manual.macromates.com/en/bundles#setting_lc_ctype.html
export LC_CTYPE=en_US.UTF-8

# ====================
# = Path definitions =
# ====================

export MYSQL_BIN_PATH=/usr/local/mysql/bin

export MANPATH=/opt/local/share/man:$MANPATH
export PATH=~/.bin:~/bin:/usr/local/bin:$PATH:$MYSQL_BIN_PATH

# ==========
# = cdargs =
# ==========

# This was prompted to be installed by the cdargs brew formula
if [ -f /usr/local/etc/bash_completion.d/cdargs-bash.sh ];
then
  source /usr/local/etc/bash_completion.d/cdargs-bash.sh
fi

# =======
# = RVM =
# =======

# This basically means that if $HOME/.rvm/scripts/rvm exists it will be sourced
# @see http://tldp.org/LDP/abs/html/testconstructs.html#DBLBRACKETS
# @see http://tldp.org/LDP/abs/html/list-cons.html#LISTCONSREF
[[ -s $HOME/.rvm/scripts/rvm ]] && source $HOME/.rvm/scripts/rvm

